:root, :host {
  --font-sans: Inter, ui-sans-serif, system-ui, -apple-system, "SF Pro Text", "SF Pro Display", "Segoe UI Variable",
    "Segoe UI", "Microsoft YaHei UI", "Microsoft YaHei",
    "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    "Microsoft YaHei UI", "Microsoft YaHei", "Noto Sans CJK SC", monospace;
}
